@charset "utf-8";

div.about_container
{
    background-image: radial-gradient(#ebebebdd, #979797dd, #383838dd);
    height: 100%;
    margin: 0px auto;
    padding: 0;
    border-radius: 50px;
}

@media screen and (min-width : 1100px) {


    div.about_container
    {
        width: 1100px;
        border: 2px solid black;
    }

    div.title_about
    {
        text-align: center;
        min-height: 150px;
        display: block;
        background-color: #444444;
        color: #ffffff;
        font-family: 'Segoe MDL2 Assets';
        font-size: larger;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    div.image_box{
        width: 40%;
    }

    div.bg_image {
        /* The image used */
        background-image: url("../Image/about us/background.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 2000px;
    }

    div.title_about h1, div.title_about h2, div.title_about p{
        padding-top: 30px
    }

    div.title_about h1, div.title_about h2{
        font-family: 'wonderiaregular';
    }

    div.title_about blockquote{
        font-family: 'calligram_pejackniferegularrsonalregular';
        padding: 10px 100px;
    }

    div.about_content h1 {
        font: bold;
    }

    div.left_about div.about_content blockquote h1,div.right_about div.about_content blockquote h1{
        padding-top: 20px;
    }

    div.left_about div.about_content blockquote h1,div.left_about div.about_content blockquote p{
        text-align: left;
        display: block;
    }

    div.right_about div.about_content blockquote h1,div.right_about div.about_content blockquote p{
        text-align: right;
        display: block;
    }

    div.left_about, div.right_about {
        display: flex;
        margin: 60px 20px 50px 20px;
    }

    div.about_content blockquote{
        margin: auto 100px;
    }

    div.left_about div.about_content blockquote{
        margin-left: 50px;
    }
    div.right_about div.about_content blockquote {
        margin-right: 50px;
    }
}


@media screen and (max-width : 1100px) {


    div.about_container
    {
        width: 800px;
        border: 1px solid black;
    }

    div.title_about
    {
        text-align: center;
        min-height: 150px;
        display: block;
        background-color: #444444;
        color: #ffffff;
        font-family: 'Segoe MDL2 Assets';
        font-size: larger;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    div.image_box{
        width: 40%;
    }

    div.bg_image {
        /* The image used */
        background-image: url("../Image/about us/background.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 2100px;
    }

    div.title_about h1, div.title_about h2, div.title_about p{
        padding-top: 30px
    }

    div.title_about h1, div.title_about h2{
        font-family: 'wonderiaregular';
    }

    div.title_about blockquote{
        font-family: 'calligram_pejackniferegularrsonalregular';
        padding: 10px 100px;
    }

    div.about_content h1 {
        font: bold;
    }

    div.left_about div.about_content blockquote h1,div.right_about div.about_content blockquote h1{
        padding-top: 20px;
    }

    div.left_about div.about_content blockquote h1,div.left_about div.about_content blockquote p{
        text-align: left;
        display: block;
    }

    div.right_about div.about_content blockquote h1,div.right_about div.about_content blockquote p{
        text-align: right;
        display: block;
    }

    div.left_about, div.right_about {
        display: flex;
        margin: 60px 20px 50px 20px;
    }

    div.about_content blockquote{
        margin: auto 50px;
    }

    /*changed*/
    div.left_about div.about_content blockquote{
        margin-left: 140px;
    }
    div.right_about div.about_content blockquote {
        margin-right: 50px;
    }
}

@media screen and (max-width : 800px) {


    div.about_container
    {
        overflow: scroll;
        width: 100%;
    }

    div.title_about
    {
        text-align: center;
        min-height: 150px;
        display: block;
        background-color: #444444;
        color: #ffffff;
        font-family: 'Segoe MDL2 Assets';
        font-size: larger;
    }

    div.image_box{
        width: 100%;
    }

    div.bg_image {
        /* The image used */
        background-image: url("../Image/about us/background.jpg");

        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 3000px;
    }

    div.title_about h1, div.title_about h2, div.title_about p{
        padding-top: 30px
    }

    div.title_about h1, div.title_about h2{
        font-family: 'wonderiaregular';
    }

    div.title_about blockquote{
        font-family: 'calligram_pejackniferegularrsonalregular';
        padding: 10px 100px;
    }

    div.about_content h1 {
        font: bold;
    }

    div.left_about div.about_content blockquote h1,div.right_about div.about_content blockquote h1{
        padding-top: 20px;
    }

    div.left_about div.about_content blockquote h1,div.left_about div.about_content blockquote p{
        text-align: left;
        display: block;
    }

    div.right_about div.about_content blockquote h1,div.right_about div.about_content blockquote p{
        text-align: right;
        display: block;
    }

    div.left_about, div.right_about {
        display: block;
        margin: 10px 10px 10px 10px;
    }

    div.about_content blockquote{
        margin: auto 20px;
    }

    /*changed*/
    div.left_about div.about_content blockquote{
        margin-left: 40px;
    }
    div.right_about div.about_content blockquote {
        margin-right: 40px;
    }

    img{
        align: middle;
    }
}