@charset "utf-8";
@media (min-height: 300px) and (max-height: 799.95px) {
    div.start_container {
        padding: 10px;
        font-size: 50px;
    }
    .welcome,.btn {
        font-size: 25px;
    }
    .btn {
        height: 35px;
    }
}
@media (min-height: 800px) and (max-height: 1500px) {
    div.start_container {
        padding: 170px;
        font-size: 80px;
    }
    .welcome,.btn {
        font-size: 40px;
    }
    .btn {
        height: 50px;
    }
}

div.start_container {
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    size: 200px;
    width: 500px;
    height: 100%;
    background-color: transparent;
    margin: auto;
    vertical-align: middle;
}

body.start {
    background-image: linear-gradient(to top, #ff1a7555, #a31aff), url(../Image/city.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom;
    background-size: auto, cover;
    height: 150%;
}

.btn_container {
    width: 500px;
    height: 100px;
}

.btn {
    display: inline-block;
    width: 120px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    background-image: linear-gradient(to top, #1a53ffaa, #751affaa);
    text-decoration: none;
    padding: 10px;
    border-radius: 2px;
    border-color: #800080;
}

.btn a {
    text-decoration: none;
    color: #ffa31a;
    display: block;
}

.welcome {
    width: 500px;
    height: 100px;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    padding: 10px;
}

.skip_container {
    width: 500px;
    height: 100px;
    border: 0px;
    color: transparent;
    text-align: center;
}

.skip_container a, .skip {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.skip {
    font-size: 35px;
    text-align: center;
    width: 210px;
    height: 40px;
    margin: 30px 145px 30px 145px;
}

div.video_container{
    width: 400px;
    margin: auto
}